@font-face {
  font-family: 'MyFont';
  src: url('./roboto-black.ttf') format('ttf'),
       url('./roboto-black.eot') format('eot'),
       url('./roboto-black.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./rain.png') left top no-repeat;
}
